@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat&family=Poppins&display=swap');

/* Formatação dos elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: #e6e6e6;
}
p {
    color: #000;
}

/* transição dos list */
a,
.btn {
    transition: all 300ms ease;
}

/* Nav */
nav, .nav-list {
    display: flex;
}
nav {
    top: 0;
    left: 0;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    z-index: 999;
}

.nav-list {
    gap: 2rem; 
    list-style:none;
    font-size: 1.5rem;
}

.nav-list li a {
    color: black;
    text-decoration: none;
    transition: all 400ms ease;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #0EB688;
    cursor: pointer;
}
.nav-item {
    position: relative;
} 

.logo {
    font-size: 2rem;
    pointer-events: none;
    cursor: default;
}

.nav-item a::after {
    content: '';
    height: 0.2rem;
    width: 0%;
    background: linear-gradient(90deg, #19B56F 0%, #0DE5AB 100%);
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 400ms ease;
    pointer-events: none;
}

.nav-item a:hover::after,
.nav-item a:focus::after {
    opacity: 1;
    width: 100%;
    
}

.mobile-menu, .mobile-menu-icon {
    display: none;
}

.mobile-menu-icon button {
    border: none;
    background: transparent;
}