@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    footer nav .nav-list {
        justify-content: center;
        flex-direction: row;
        text-align: center;
    }

}

@media screen and (max-width: 1200px) {
    .nav-list {
        display: none;
        background: #e6e6e6;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    }

    .mobile-menu {
        margin-top: 1rem;
    }

    .mobile-menu-icon {
        display: block;
    }

    .icon {
        width: 33px;
        height: 33px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
        position: relative;
    }

    .open {
        display: block;
        margin-bottom: 20rem;
    }

    #experience, .experience-details-container {
        margin-top: 2rem;
    }

    #profile, .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section, .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic__container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
        flex-wrap: wrap;
    }

    footer nav .nav-list {
        justify-content: center;
        flex-direction: row;
        text-align: center;
        display: flex;
        box-shadow: none;
        flex-direction: row;
        gap: 0.5rem;
        text-align: center;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .nav-list li a {
        font-size: 1.3rem;
        padding: 0 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    .article-container {
        flex-direction: column;
    }

    .nav-bar-top {
        position: static;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, .nav-list li a {
        font-size: 1.15rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    footer nav .nav-list {
        box-shadow: none;
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    footer nav .nav-list a {
        position: relative;
    }

    .section__pic__container {
        width: 275px;
        height: 275px;
        justify-content: center;
    }

    .section__pic__container img {
        width: 275px;
        height: 275px;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }

    .skills-container {
        flex-direction: column;
    }
}