@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat&family=Poppins&display=swap');

/* Formatação dos elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, #d6e5f8 0%, #87b3fa 100%);
}

p {
    color: #000;
}

/* transition of list */
a,
.btn {
    transition: all 300ms ease;
}


/* Nav */
nav, .nav-list {
    display: flex;
}

nav {
    top: 0;
    left: 0;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    min-width: 100%;
    z-index: 999;
}

.nav-list {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.nav-list li a {
    color: black;
    text-decoration: none;
    transition: all 400ms ease;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #4169E1;
    cursor: pointer;
}

.nav-item {
    position: relative;
}

.logo {
    color: #4169E1;
    font-size: 2rem;
    pointer-events: none;
    cursor: default;
}

.logo span {
    color: #E0115F;
    font-size: 4rem;
}

.nav-item a::after {
    content: '';
    height: 0.2rem;
    width: 0%;
    background: linear-gradient(90deg, #000080 0%, #E0115F 100%);
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 400ms ease;
    pointer-events: none;
}

.nav-item a:hover::after,
.nav-item a:focus::after {
    opacity: 1;
    width: 100%;

}

.mobile-menu, .mobile-menu-icon {
    display: none;
}

.mobile-menu-icon button {
    border: none;
    background: transparent;
}

/* Sections */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    min-height: fit-content;
}

.section-container, #profile {
    display: flex;
}

/* Profile */

#profile {
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic__container {
    display: flex;
    position: relative;
    height: 400px;
    width: 400px;
    margin: auto 0;
    transition: all 500ms;
}

.section__pic__container img {
    width: 500px;
    border-radius: 50%;
    transition: all 500ms;
}

.section__pic__container img:hover {
    scale: 1.05;
}

.section__pic__container:hover {
    transform: translateY(-5%);
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.title {
    color: #000080;
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn {
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    transition: all 300ms ease;
    padding: 10px;
    width: 120px;
    height: 50px;
    border-radius: 6px;
    z-index: 1;
    overflow: hidden;
    transition: 400ms ease;
}

.btn-color-1 {
    color: #e6e6e6;
    background-color: #4169E1;
    border: #4169E1 2px solid;
    border-color: #4169E1;
}

.btn-color-1:hover {
    scale: 1.02;
    border: #4169E1 2px solid;
    color: #4169E1;
    border-color: #4169E1;
}

.btn-color-1::before {
    background: #e6e6e6;
    width: 100%;
}

.btn-color-2 {
    background: #e6e6e6;
    border: #E0115F 2px solid;
    color: #E0115F;
    border-color: #E0115F;
}

.btn-color-2:hover {
    scale: 1.02;
    cursor: pointer;
    color: #e6e6e6;
    border: #E0115F 2px solid;
    border-color: #E0115F;
}


.btn-color-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 400ms ease;
}

.btn:hover::before {
    width: 100%;
}

.btn-color-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 400ms ease;
}

.btn-color-2:hover::before {
    width: 100%;
    background: #E0115F;
}

/* About Section */

#about {
    position: relative;
    margin-top: 4rem;
}

.about-containers {
    gap: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-details-container {
    display: flex;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 3rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 1.1rem;
    text-align: center;
}

.section-container {
    display: flex;
    gap: 8rem;
    height: 80%;
    justify-content: center;
}

.about-pic {
    border-radius: 2rem;
    width: 500px;
    height: 500px;
}

/* Habilities Section */
#experience {
    position: relative;
    height: fit-content;
}
#experience .title {
    margin-bottom: 5rem;
}
.skills-container {
    display: flex;
    gap: 2.5rem;
}

.skills-details-container h3 {
    text-align: center;
}

.skills-details-container {
    padding: 2.5rem;
    flex: 1;
    background: white;
    border-radius: 1rem;
}

.skills-details-container .skill-box {
    width: 100%;
    margin: 3rem 0px;
}

.skill-box img {
    width: 40px;
    height: 40px;
}

.skill-box .skill-title {
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
}

.skill-box .skill-bar {
    width: 100%;
    height: 15px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.2);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 65%;
    border-radius: 6px;
    background: linear-gradient(90deg, #4169E1, #E0115F);
    animation: progress 0.7s ease-in-out forwards;
    opacity: 0;
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: 28px;
    background: #E0115F;
    color: #fff;
    padding: 2px 6px;
    font-weight: 500;
    border-radius: 3px;
    z-index: 1;
}

.tooltip::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    background-color: #E0115F;
    transform: translateX(-50%)rotate(45deg);
    z-index: -1;
}

.experience-sub-title {
    color: #4169E1;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}


.article-container {
    display: flex;
    text-align: initial;
    flex-flow: row wrap;
    gap: 2.5rem;
    justify-content: space-around;
    margin-bottom: 3rem;
}

article {
    display: flex;
    width: 12vw;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

article h3 {
    color: rgb(63, 63, 63);
}

/* Projects Section */

#projects {
    position: relative;
    height: fit-content;
    margin-top: 10rem;
    height: fit-content;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-img {
    border-radius: 2rem;
    width: 100%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}


/* Contact Section */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(63, 63, 63) 0.1rem solid;
    border-color: #E0115F;
    background: #e6e6e6;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container a {
    position: relative;
    color: black;
    text-decoration: none;
}

.contact-info-container a::after {
    content: '';
    height: 0.2rem;
    width: 0%;
    background: linear-gradient(90deg, #000080 0%, #0632b3 100%);
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 400ms ease;
    pointer-events: none;
}

.contact-info-container a:hover::after {
    width: 100%;
    opacity: 1;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* Footer Section */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}


